@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

#loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000 url(ailoader.gif) no-repeat center center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

}

/*the page background*/
.main {
    min-height: 100vh;
    position: absolute;/*realative*/
    top: 0;
    width: 100%;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .image-container {
    padding: 10px;
}

.main .image-container .image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .image-container .image img {
    width: 350px;
    align-items: center;
}

.main .image-container h1 {
    color: #00bcd4;
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
}

.main .image-container p {
    color: #324042;
    text-align: center;
    margin-bottom: 40px;
}

/*Click on*/
.main .input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 50px;
    border-radius: 26px;/*20*/
    background: rgba(18, 166, 171, 0.067);
}

/*mic icon svg*/
.main .input .talk {
    background: transparent;
    outline: none;
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}

/*Mic icon*/
.main .input .talk i {
    font-size: 20px;
    color: #aed0d0;
}

/*Mic icon*/
.main .input .talk i:hover {
    font-size:25px;
    color: #15ddf8;
    transform: rotateY(-5px);
}

/*Click here to speak*/
.main .input .content {
    color: #aed0d0;
    font-size: 15px;
    margin-right: 20px;
}

.footer {
    background: #090909e2;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer p {
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 1px;
}

